<ng-container>
<div class="container-fluid header-container" >
    <div class="row">
        <div class="col-md-6">
            <h1 class="logo">
                <a href="#">
                    Hatsan Web
                </a>
            </h1>
        </div>
        <div class="col-md-6 header-btns text-right">
            <ul>
                <li class="inline-block">
                    <button><i class="fa fa-star"></i></button>
                </li>
                <li class="inline-block">
                    <button><i class="fa fa-question-circle"></i></button>
                </li>
                <li class="inline-block">
                    <button (click) = "onLogout()"><i class="fa fa-sign-out"></i></button>
                </li>
                <li class="inline-block">
                    <button><i class="fa fa-bars"></i></button>
                </li>
                
            </ul>
        </div>
    </div>
</div>
</ng-container>