<div class="container-fluid ">
    <div class="page-header">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title">Processing List</h2>
            </div>
        </div>
    </div>
    <div class="section-container">
        <h3 class="section-title">Selection Filter</h3>
        <div class="section-data-container">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Interface Name</label>
                        <select class="form-control" name="" id="">
                            <option value="">Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Interface Time</label>
                        <select (change)="interfaceTime()" class="form-control" name="" id="interface-time">
                            <option value="">Select</option>
                            <option value="0">3 days ago</option>
                            <option value="1">1 week ago</option>
                            <option value="2">Date wise</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">User</label>
                        <select name="" id="" class="form-control">
                            <option value="">Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Processing Status</label>
                        <select name="" id="" class="form-control">
                            <option value="">Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div *ngIf="interfaceTimeVal == '2'" class="form-group">
                        <label for="">From Date</label>
                        <input type="date" class="form-control date-pick" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div *ngIf="interfaceTimeVal == '2'" class="form-group">
                        <label for="">To Date</label>
                        <input type="date" class="form-control date-pick" />
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <div class="form-group filter-btn-section">
                        <input type="submit" class="btn btn-primary" value="Search" />
                        <input type="reset" class="btn btn-primary" value="Clear" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-container">
        <h3 class="section-title">List</h3>
        <div class="section-data-container">
            <table datatable class="row-border hover">
                <thead>
                    <tr>
                        <th>Interface Name</th>
                        <th>Interface Time</th>
                        <th>User</th>
                        <th>Processing Status</th>
                        <th>Detail</th>
                        <th>ACK1</th>
                        <th>ACK2</th>
                        <th>ACK3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <input type="submit" class="btn-primary" value="Detail" />
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>