<aside class="sidebar transitionAll">
    <div class="user-container">
        <div class="user-details">
            <p>Copia Consultancy</p>
            <p>Account Owner</p>
        </div>
    </div>
    <ul class="level-1">
        <li>
            <a href="#">User Master</a>
            <ul class="level-2">
                <li>
                    <a href="#">Level 2</a>
                    <ul class="level-3">
                        <li>
                            <a href="">Level 3</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Customer Master</a>
            <ul class="level-2">
                <li>
                    <a href="#">Level 2</a>
                    <ul class="level-3">
                        <li>
                            <a href="">Level 3</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Vendor Master</a>
            <ul class="level-2">
                <li>
                    <a href="#">Level 2</a>
                    <ul class="level-3">
                        <li>
                            <a href="">Level 3</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</aside>