<div class="container-fluid ">
    <div class="page-header">
        <div class="row">
            <div class="col-md-6">
                <h2 class="page-title">User Master List</h2>
            </div>
            <div class="col-md-6 text-right">
                <a href="#" class="btn btn-dark">Add New</a>
            </div>
        </div>
    </div>
    <div class="section-container">
        <h3 class="section-title">Selection Filter</h3>
        <div class="section-data-container">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">User Name</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Country</label>
                        <select name="" id="" class="form-control">
                            <option value="">Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">State</label>
                        <select name="" id="" class="form-control">
                            <option value="">Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">District</label>
                        <select name="" id="" class="form-control">
                            <option value="">Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Status</label>
                        <select name="" id="" class="form-control">
                            <option value="">Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Role</label>
                        <select name="" id="" class="form-control">
                            <option value="">Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <div class="form-group filter-btn-section">
                        <input type="submit" class="btn btn-primary" (click)="onSubmit()" value="Search" />
                        <input type="reset" class="btn btn-primary" value="Clear" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-container">
        <h3 class="section-title">List</h3>
        <div class="section-data-container">
            <table datatable [dtOptions]="dtOptions" class="row-border hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Status</th>
                        <th>Email</th>
                        <th>contact</th>
                        <th>Country</th>
                        <th>State</th>
                        <th>District</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let userDetails of userDataList.response">
                        <td>{{userDetails.UserName}}</td>
                        <td>{{userDetails.RoleID}}</td>
                        <td>{{userDetails.isActive}}</td>
                        <td>{{userDetails.UserEmail}}</td>
                        <td>{{userDetails.UserMobile}}</td>
                        <td>{{userDetails.Country}}</td>
                        <td>{{userDetails.State}}</td>
                        <td>{{userDetails.District}}</td>
                        <td>{{userDetails.Location}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>