<div class="container-fluid ">
    <div class="page-header">
        <div class="row">
            <div class="col-md-6">
                <h2 class="page-title">Create Interface</h2>
            </div>
            <div class="col-md-6 text-right">
                <a [routerLink]="['/interfaceList']" class="btn btn-dark">Interface List</a>
            </div>
        </div>
    </div>
    <div class="section-container">
        <h3 class="section-title">Interface Details</h3>
        <div class="section-data-container">
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="customerName">Interface Name
                                <i class="fa fa-asterisk customize-mandatory"></i>
                            </label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="customerName">Input File Name
                                <i class="fa fa-asterisk customize-mandatory"></i>
                            </label>
                            <select class="form-control" name="" id="">
                                <option value="">Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="customerName">Output File Name
                                <i class="fa fa-asterisk customize-mandatory"></i>
                            </label>
                            <select class="form-control" name="" id="" disabled>
                                <option value="">Select</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="customerName">Input File Location
                                <i class="fa fa-asterisk customize-mandatory"></i>
                            </label>
                            <input type="text" class="form-control" disabled/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="customerName">Input File URL
                                <i class="fa fa-asterisk customize-mandatory"></i>
                            </label>
                            <input type="text" class="form-control" disabled/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="customerName">Output File Location
                                <i class="fa fa-asterisk customize-mandatory"></i>
                            </label>
                            <input type="text" class="form-control" disabled/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="customerName">Input File URL
                                <i class="fa fa-asterisk customize-mandatory"></i>
                            </label>
                            <input type="text" class="form-control" disabled/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-container">
        <h3 class="section-title">Batch Job Details</h3>
        <div class="section-data-container">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="customerName">Month
                            <i class="fa fa-asterisk customize-mandatory"></i>
                        </label>
                        <select class="form-control" name="" id="">
                            <option value="">Select</option>
                            <option *ngFor="let month of month" value="">{{month}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="customerName">Day
                            <i class="fa fa-asterisk customize-mandatory"></i>
                        </label>
                        <select class="form-control" name="" id="">
                            <option value="">Select</option>
                            <option *ngFor="let day of daysInWeek" value="">{{day}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="customerName">Hour
                            <i class="fa fa-asterisk customize-mandatory"></i>
                        </label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="customerName">Minute
                            <i class="fa fa-asterisk customize-mandatory"></i>
                        </label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="customerName">Seconds
                            <i class="fa fa-asterisk customize-mandatory"></i>
                        </label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="customerName">Frequency
                            <i class="fa fa-asterisk customize-mandatory"></i>
                        </label>
                        <select class="form-control" name="" id="">
                            <option value="">Select</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-container">
        <h3 class="section-title">Email Setup</h3>
        <div class="section-data-container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="customerName">Enter Email
                            <i class="fa fa-asterisk customize-mandatory"></i>
                        </label>
                        <input type="text" id="user-email" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group filter-btn-section">
                        <input type="submit" class="btn btn-primary" (click)="addEmail()" value="Add" />
                    </div>
                </div>
            </div>
            <div>
                <ul class="email-cart">
                    <li *ngFor="let email of emailCart">
                        {{email}}
                        <i class="fa fa-times" (click)="removeEmail(email)" aria-hidden="true"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="form-submit-container text-right">
        <input type="submit" class="btn btn-primary" value="Submit" />
        <input type="reset" class="btn btn-primary" value="Clear" />
    </div>
</div>