<div class="container-fluid ">
    <div class="page-header">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title">File Location</h2>
            </div>
        </div>
    </div>
    <div class="section-container">
        <h3 class="section-title">File Location Setup</h3>
        <div class="section-data-container">
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="customerName">Input File
                                <i class="fa fa-asterisk customize-mandatory"></i>
                            </label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="customerName">Input Location
                                <i class="fa fa-asterisk customize-mandatory"></i>
                            </label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="customerName">Input File Location
                                <i class="fa fa-asterisk customize-mandatory"></i>
                            </label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="customerName">Output File Location
                                <i class="fa fa-asterisk customize-mandatory"></i>
                            </label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="customerName">Input File URL
                                <i class="fa fa-asterisk customize-mandatory"></i>
                            </label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="customerName">Output File URL
                                <i class="fa fa-asterisk customize-mandatory"></i>
                            </label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="form-submit-container text-right">
                    <input type="submit" class="btn btn-primary" (click)="submit()" value="Submit" />
                    <input type="reset" class="btn btn-primary" value="Clear" />
                </div>
            </div>
        </div>
    </div>
</div>