<div class="container-fluid ">
  <div class="page-header">
    <div class="row">
      <div class="col-md-6">
        <h2 class="page-title">User Creation</h2>
      </div>
      <div class="col-md-6 text-right">
        <a [routerLink]="['/userList']" class="btn btn-dark">User List</a>
      </div>
    </div>
  </div>
  <div class="section-container">
    <h3 class="section-title">Create User</h3>
    <div class="section-data-container">
      <form [formGroup]="userForm">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="userName">Name<i class="fa fa-asterisk customize-mandatory"></i></label>
              <input formControlName="userName" type="text" id="userName"
              [ngClass]="{'form-control': true, 
              'is-invalid':!getUserFormRef.userName.valid && getUserFormRef.userName.touched,
              'is-valid': getUserFormRef.userName.valid}" />
              <p *ngIf="!getUserFormRef.userName.valid && getUserFormRef.userName.touched" class="alert alert-danger">Name field is required</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="email">Email
                <i class="fa fa-asterisk customize-mandatory"></i>
              </label>
              <input formControlName="userEmail" type="text" id="email"
              [ngClass]="{'form-control': true, 
              'is-invalid':!getUserFormRef.userEmail.valid && getUserFormRef.userEmail.touched,
              'is-valid': getUserFormRef.userEmail.valid}" />
              <p *ngIf="getUserFormRef.userEmail.errors?.required && getUserFormRef.userEmail.touched" class="alert alert-danger">Email field is required</p>
              <p *ngIf="getUserFormRef.userEmail.errors?.pattern && getUserFormRef.userEmail.touched" class="alert alert-danger">Enter valid email address</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="userCountry">Country
                <i class="fa fa-asterisk customize-mandatory"></i>
              </label>
              <select formControlName="userCountry" class="form-control" id="userCountry"
              [ngClass]="{'form-control': true, 
              'is-invalid':!getUserFormRef.userCountry.valid && getUserFormRef.userCountry.touched,
              'is-valid': getUserFormRef.userCountry.valid}">
                <option selected [ngValue]="null">Select</option>
                <option selected [ngValue]="1">India</option>
              </select>
              <p *ngIf="getUserFormRef.userCountry.errors?.required && getUserFormRef.userCountry.touched" class="alert alert-danger">Email field is required</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="userName">State
                <i class="fa fa-asterisk customize-mandatory"></i>
              </label>
              <select class="form-control">
                <option value="">Select</option>
                <option value="1">Maharashtra</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="userName">District
                <i class="fa fa-asterisk customize-mandatory"></i>
              </label>
              <select class="form-control">
                <option value="">Select</option>
                <option value="1">Thane</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="userName">Location
                <i class="fa fa-asterisk customize-mandatory"></i>
              </label>
              <input type="text" id="userName" class="form-control">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="userName">Mobile No
                <i class="fa fa-asterisk customize-mandatory"></i>
              </label>
              <input type="text" id="userName" class="form-control">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="userName">Set Password
                <i class="fa fa-asterisk customize-mandatory"></i>
              </label>
              <input type="text" id="userName" class="form-control">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="userName">Role
                <i class="fa fa-asterisk customize-mandatory"></i>
              </label>
              <select class="form-control">
                <option value="">Select</option>
                <option value="1">Account Owner</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="userName">Is Active
                <i class="fa fa-asterisk customize-mandatory"></i>
              </label>
              <select class="form-control">
                <option value="">Select</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-submit-container text-right">
          <input type="submit" [disabled]="!userForm.valid" class="btn btn-primary" (click)="submit()" value="Submit" />
          <input type="reset" class="btn btn-primary" value="Clear" />
        </div>
      </form>
    </div>
  </div>
</div>