<ng-container>
    <div class="master-page">
        <ng-container *ngIf="isUserLoggedIn">
            <header>
                <app-header></app-header>
            </header>
        </ng-container>

        <main>
            <ng-container *ngIf="isUserLoggedIn">
                <nav class="sidebar-navigation" *ngIf="showMenu">
                    <app-sidebar-menu ></app-sidebar-menu>
                </nav>
            </ng-container>            
            <section [ngClass]="{'content': true, 'content-padding': showMenu == true}">
                <router-outlet></router-outlet>
            </section>
        </main>
    </div>
</ng-container>