<div class="container-fluid ">
    <div class="page-header">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title">Role Access Relation</h2>
            </div>
        </div>
    </div>
    <div class="section-container">
        <h3 class="section-title">Selection Filter</h3>
        <form class="section-data-container" [formGroup]="roleAccessForm">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Role Name</label>
                        <select formControlName="RoleName" name="" id="" class="form-control" [(ngModel)]="role">
                            <option [ngValue]=undefined>Select</option>
                            <option *ngFor="let role of roleDropdown" value="{{role._id}}">{{role.RoleName}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Menu Main Module</label>
                        <select formControlName="MenuGroup" [(ngModel)]="MenusGroup" name="" id="" class="form-control">
                            <option selected [ngValue]=undefined>Select</option>
                            <option *ngFor="let menuGroup of MenuGroupDropdown" [ngValue]="menuGroup">{{menuGroup.GroupName}}</option>
                        </select>
                    </div>
                </div>
                <div *ngIf="MenuSetup != null" class="col-md-3">
                    <div class="form-group">
                        <label for="">Sub Module</label>
                        <select formControlName="MenuModule" [(ngModel)]="MenuModule" name="" id="sub-module" class="form-control">
                            <option selected [ngValue]=undefined>Select</option>
                            <option *ngFor="let menuModule of MenusGroup.MenuModule" [ngValue]="menuModule" >{{menuModule.MenuModuleName}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="MenuModule != null" class="section-container">
        <h3 class="section-title">List</h3>
        <div class="section-data-container">
            <table datatable [dtOptions]="dtOptions" class="row-border hover">
                <thead>
                    <tr>
                        <th>Page Name</th>
                        <th>Select</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let accessModule of MenuModule.AccessModule" >
                        <td>{{accessModule.AccessModuleName}}</td>
                        <td><input (click)="PageAccess(accessModule)" type="checkbox"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div class="text-right">
            <input type="submit" class="btn btn-primary" (click)="submit()" value="Submit" />
        </div>
    </div>
    
</div>
